.image {
    width: 600px;
    content: ' ';
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../assets/images/background.png');
    background-repeat: repeat-x, repeat;
    background-size: contain;
}
