@use './styles/globals';
@use './styles/typography';
@use './styles/variables';
@use './components/Button/Button.module';
@use './pages/Login/Login.module';
@use './pages/Not-found/not-found.module';
@use './pages/Registration/Registration.module';

#root {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
