.slidercontainer {
    max-width: 600px;
    margin: 0 auto;
}

.productimage {
    width: 100%;
    height: auto;
    max-height: 40rem;
    border-radius: 4px;
    cursor: pointer;
    object-fit: contain;
}

.slide {
    display: flex !important;
    min-width: 100%;
    height: 400px;
    min-height: 400px;
    align-items: center;
    justify-content: center !important;
    padding: 20px !important;
    background: #fff;
}

.imagemodal {
    max-width: 90%;
}

.enlargedimage {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
}

.modalslide {
    display: flex !important;
    min-width: 100%;
    height: 80vh;
    min-height: 80vh;
    align-items: center !important;
    justify-content: center !important;
}

.closeicon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(0 0 0 / 50%);
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.closeicon:hover {
    background: rgb(0 0 0 / 80%);
}

.customdots li button {
    background: #1890ff;
}

.modaldots li button {
    background: #fff;
}

.modalcarousel .slick-arrow {
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(0 0 0 / 50%);
    color: #fff;
    font-size: 24px;
}

.modalcarousel .slick-arrow:hover {
    background: rgb(0 0 0 / 80%);
}