.card {
    width: 900px;
    align-items: center;
    justify-content: center;
    gap: 100px;

    @media (width <= 1400px) {
        width: 100%;
        flex-direction: column !important;
        gap: 20px;
    }
}

.title {
    text-align: start;
}

.container {
    position: relative;
}

.book {
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 65px;
    border-radius: 5px;
}

.description {
    font-size: 18px !important;
}
