.filters {
    @media (width <= 600px) {
        flex-direction: column !important;
    }
}

.search {
    @media (width <= 600px) {
        width: 100% !important;
    }
}

.block {
    width: 100%;
    min-height: 100vh;
    padding-top: 40px;
}
