* {
    color: var(--font-color);
    font-family: Mulish, sans-serif;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    padding: 30px;
    color: #1d1d1d;
    font-size: 20px;
}
