:root {
    // colors
    --primary-color: #ffce1a;
    --font-color: #1d1d1d;
    --btn-font-color: #fff;
    --error-font-color: #f84444;

    // typography
    --error-font-size: 0.7rem;

    // sizes
    --border-radius: 8px;
}
