:root {
    // colors
    --primary-color: #ffce1a;
    --font-color: #1d1d1d;
    --btn-font-color: #fff;
    --btn-hover-bg-color: #f7db5d;
    --btn-active-bg-color: #e9bb15;
    --error-font-color: #f84444;
    --icon-check-color: #52c41a;
    --icon-close-color: #ff4d4f;

    // typography
    --error-font-size: 0.7rem;

    // sizes
    --border-radius: 8px;
}
