.footer {
  height: 274px;
}

.icon {
  font-size: 24px;
}

.about {
  width: 120px;
}

.img {
  width: 710px;
  height: 274px;
  background-image: url("../../assets/images/footerImg.png");
  background-position: 100% 150%;
  background-repeat: no-repeat;
  background-size: contain;
}
