.footer {
    width: 100%;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 10px;
    gap: 30px;

    @media screen and (width <= 1090px) {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 0;
        gap: 0;
    }

    @media screen and (width <= 470px) {
        padding: 5px;
    }
}

.img {
    width: 80vw;
    height: 179px;
    background-image: url('../../assets/images/books.png');
    background-repeat: repeat-x;

    @media screen and (width <= 1090px) {
        width: 100%;
        height: 170px;
    }
}

.content {
    width: 100%;
    justify-content: space-around;

    @media screen and (width <= 1090px) {
        justify-content: space-around;
        padding: 20px;
        border-radius: 8px;
        background: linear-gradient(360deg, #feaf38 19%, #ffce1a 100%);
        color: #fff;
        gap: 20px;
    }
}

.title {
    margin: 0;

    @media screen and (width <= 1090px) {
        color: #fff !important;
    }
}

.adreses {
    font-size: 16px;

    @media screen and (width <= 550px) {
        font-size: 12px;
    }
}

.name {
    width: 90px;
    justify-content: space-between;
}

.link {
    font-size: 16px;

    @media screen and (width <= 1090px) {
        color: #fff !important;
    }

    @media screen and (width <= 550px) {
        font-size: 12px;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        width: 18px;
        height: 18px;
    }
}
